* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Monstserrat';
    background-color: #fff
}

p {
    margin: 0.5em 0 0.5em 0;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

nav a:visited,
nav a:link {
    color: #010101;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 20px;
}

nav > ul {
    display: inline;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 15px 0 15px;
}

main {
    display: block;
    padding: 15em 10em 15em 10em;
}

aside,
article {
    padding: 1em;
}

aside { 
    font-family: 'Codystar'; 
    font-size: 40px;
}

article {
    font-family: 'Montserrat';
    width: 50%;
}

.columns {
    display: flex;
}

/* Box */

.box {
    width: 200px; 
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: solid 3px #010101;
    justify-content: center;
    align-items: center;
}

.box img {
    width: 100%;
}

.box .title { 
    font-weight: bold;
    text-align: center;
}

.box .desc {
    text-align: center;
    font-size: smaller;
}

.box button {
    background-color: #010101;
    padding: 5px 5px 5px 5px;
    border: solid 1px #010101;
    border-radius: 3px;
    color: #fff;
    position: relative;

}


@media only screen and (min-width: 768px) {
   main {
       display: flex;
   } 
}

aside {
    margin-left: 2%;
}

.columns-desktop {
    display: flex;
}

