* {
    margin: 0;
}

p {
    color: black;
    font-family: 'Montserrat';
    padding:15px;
    margin:0px;
    font-size: 1em;
}

header {
    display:flex;
    background: #4d4b4b;
    padding-top:18px;
    align-items: center;
    flex-flow: row wrap;
    flex-direction:column;
}

nav a:visited,
nav a:link {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 20px;
}

nav > ul {
    display: inline;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 15px 10px 15px;
}

aside,
article {
    padding: 1em;
}

aside { 
    font-family: 'Codystar'; 
    font-size: 40px;
    color: #fff;
}

article {
    font-family: 'Montserrat';
    width: 100%;
}


/* Cards */

.cards {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items:unset;
    justify-content: space-between;
    margin: 2em;
  }
  .card {
    flex: 0 0 200px;
    border: 1px solid #ccc;
    margin: 10px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  } 
  .card img {
    max-width: 100%;
    max-height: 50%;
  }
  
  .card h3 {
    margin:0;
    font-size: 18px;
    text-align: center;
  }
  
  .card .text {
    padding:0;
    margin:0;
    font-size: 15px;
  }

  .card a {
    background:grey;
    border: 0;
    color: white;
    font-size: 13px;
    text-decoration: none;
    padding: 8px 12px 8px 12px;
    margin: 25%;
    border-radius: 3px;
  }

@media only screen and (min-width: 768px) {
   main {
       display: flex;
   } 
}

aside {
    margin-left: 2%;
}

.columns-desktop {
    display: flex;
}

