* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Monstserrat';
    background-color: #fff
}

p {
    margin: 0.5em 0 0.5em 0;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #444;
}

nav a:visited,
nav a:link {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 20px;
}

nav > ul {
    display: inline;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 15px 10px 15px;
}

main {
    display: flex;
    padding: 200px 200px 200px 200px;
}

aside,
article {
    padding: 1em;
}

aside { 
    font-family: 'Codystar'; 
    font-size: 40px;
    color: #fff;
}

article {
    font-family: 'Montserrat';
    width: 50%;
}

p {
    font-family: 'Montserrat'
}

/* Cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  } 
  .card img {
    max-width: 100%;
  }
  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    }


@media only screen and (min-width: 768px) {
   main {
       display: flex;
   } 
}

aside {
    margin-left: 2%;
}

.columns-desktop {
    display: flex;
}

